<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="openapi-client-gen.ZPM">
    <Module>
      <Name>openapi-client-gen</Name>
      <Description>IRIS HTTP Client And Interoperability Production generator from OpenAPI specification.</Description>
      <Version>2.1.1</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>objectscript-openapi-definition</Name>
          <Version>*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>openapi-common-lib</Name>
          <Version>1.0.*</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.openapi.client.PKG"/>      
      <UnitTest Name="/test/cls" Package="test.dc.openapi.client" Phase="test" />
      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>