<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="openapi-client-gen.ZPM">
    <Module>
      <Name>openapi-client-gen</Name>
      <Description>Class generator based on open api specification (Business Operation, Business Service, EnsRequest)</Description>
      <Version>1.1.1</Version>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>sslclient</Name>
          <Version>1.0.1</Version>
        </ModuleReference>
        <ModuleReference>
          <Name>objectscript-openapi-definition</Name>
          <Version>1.1.3</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="dc.openapi.client.PKG"/>
      <CSPApplication 
            SourcePath="/web"
            DeployPath="${cspdir}/swaggerclientgen/api"
            Url="/swaggerclientgen/api" 
            CookiePath="/swaggerclientgen/api/"
            PasswordAuthEnabled="1"
            AuthenticationMethods="64" 
            Recurse="1"
            MatchRoles=":%DB_${Namespace}"
            DispatchClass="dc.openapi.client.api.disp"/>
      
      <CSPApplication
            SourcePath="/web"
            DeployPath="${cspdir}/swaggerclientgen/api"
            Url="/csp/swaggerclientgen"
            CookiePath="/csp/swaggerclientgen/"
            ServeFiles="1"
            PasswordAuthEnabled="1"
            AuthenticationMethods="64" 
            MatchRoles=":%DB_${Namespace}"
            Recurse="1"/>

      <SystemRequirements Version=">=2020.1" Interoperability="enabled" />
    </Module>
  </Document>
</Export>